* {
	margin: 0;
	box-sizing: border-box;
	/* font-family: "Fira sans", sans-serif; */
	font-family: 'Koulen', cursive;;
}
body{
    background-image: url('https://images.unsplash.com/32/Mc8kW4x9Q3aRR3RkP5Im_IMG_4417.jpg?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    /* overflow: hidden; */
    color: whitesmoke

}
h1{
    text-align: center;
    margin: 30px 0px;
}
main {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  
}
.inline{
    display: inline;
}
section{

    border-radius: 15px;
    max-width: 700px;
    max-height: 900px;
}
#addTodoBox{
    margin-bottom: 3rem;
    text-align: center;
}
#todoValue{
    width: 450px;
    min-width: 380px;
    font-size: 1rem;
    height: 2rem;
    border-radius: 10px;
    background-color: rgba(255,255,255, 0.6);
    appearance: none;
	outline: none;
    border: none;
    margin-top: 10px;
}
#titleValue{
    font-size: 1rem;
    height: 1.5rem;
    border-radius: 10px;
    background-color: rgba(255,255,255, 0.6);
    appearance: none;
	outline: none;
    border: none;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(black, 0.8);
    opacity: 1; /* Firefox */
  }
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgba(black, 0.8);
  }
  
::-ms-input-placeholder { /* Microsoft Edge */
    color: rgba(black, 0.8);
  }
.todoItemBox{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
.todoItem{
    width: 350px;
    background-color: rgba(255,255,255, 0.6);
    border-radius: 10px;
    font-size: 1rem;
    /* height: 2rem; */
    appearance: none;
	border: none;
	outline: none;
    resize: none;
    overflow: hidden;
    flex-grow: 1;
    
}
.todoDescription{
    display: flex;
}
.todoItemTitle{
    background-color: rgba(255,255,255, 0.6);
    border-radius: 10px;
    font-size: 1rem;
    /* height: 2rem; */
    appearance: none;
	border: none;
	outline: none;
    resize: none;
    overflow: hidden;
    font-weight: 600;
    text-align: center;
}
.textChange{
    color: #296300;;
}
.editTodo, .deleteTodo, .addTodo {
    border-radius: 10px;
    background-color: rgba(255,255,255, 0.5);
    cursor: pointer;
    appearance: none;
	border: none;
	outline: none;
    transition-duration: .6s;
    margin-LEFT: 5px;

}
.editTodo, .deleteTodo {
  align-self: center;

}

.editTodo:hover, .addTodo:hover{
    border-radius: 10px;
    background-color: #9FC088;
    cursor: pointer;
    appearance: none;
	border: none;
	outline: none;
    transform: translateY(-.5rem)
}
.deleteTodo:hover{
    border-radius: 10px;
    background-color: #f70101c0;
    cursor: pointer;
    appearance: none;
	border: none;
	outline: none;
    transform: translateX(.5rem)
}
#signout {
    border-radius: 10px;
    background-color: rgba(255,255,255, 0.5);
    cursor: pointer;
    appearance: none;
	border: none;
	outline: none;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 1.2rem;
}
#signout:hover {
    border-radius: 10px;
    background-color: #9FC088;
    cursor: pointer;
    appearance: none;
	border: none;
	outline: none;
    margin-top: 10px;
    margin-left: 10px;
    
}
.formDiv {
    text-align: center;
    }